@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* reused styles */
.wrapper {
  width: 1429px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #141414;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.get-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 47px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffcc00;
  border-radius: 50px;
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FFE145, #FF8540);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #FFFFFF inset;
}

.get-btn:hover {
  box-shadow: none;
  color: #141414;
}

.read-more {
  display: flex;
  margin-top: 34px;
  padding: 3.5px 0 0;
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.07px;
  color: #FFE145;
}

.arrows {
  width: 12px;
  padding: 2px 0 0 21px;
}

h1 {
  font-size: 35px;
  line-height: 42.67px;
  color: #141414;
}

h2 {
  font-size: 30px;
  line-height: 36.57px;
  color: #141414;
}

h4 {
  font-size: 20px;
  line-height: 24.38px;
  color: #141414;
}

h5 {
  font-size: 16px;
  line-height: 20.8px;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25.2px;
  color: #8F8E8E;
}

/* delivery styles */

.main {
  margin: 154px 129px 0 132px;
}

.delivery {
  display: flex;
  width: 1197.67px;
  margin: 0 0 0 71px;
}

.delivery-title {
  width: 624px;
  margin: 0px;
  margin: 12px 0 25px 0;
}

.yellow-text {
  color: #FFE145;
}

.delivery-description {
  width: 464px;
  margin: 0;
  margin-bottom: 25px;
}

.delivery-button {
  margin-bottom: 12px;
}

.delivery-image {
  width: 551px;
  height: 297px;
}

/* payment styles */

.payment {
  display: flex;
  width: 1097px;
  margin: 200px 0 0 71px;
}

.payment-image {
  width: 469px;
  height: 300px;
}

.payment-wrapper {
  width: 505px;
  margin: 0 0 0 122px;
}

.payment-title {
  margin: 0 2px 25px 0;
  font-size: 25px;
  line-height: 30px;
  color: #141414;
}

.payment-subtitle {
  margin: 0 0 25px 0;
}

.payment-description {
  margin: 0 0 25px 0;
}

/* join us styles */

.join-us {
  margin-top: 150px;
  text-align: center;
}

.join-us_title {
  margin: 0 0 25px 0;
}

.join-us_description {
  width: 1038px;
  margin: 0 auto;
}

.join-us_cards_wrapper {
  display: flex;
  margin-top: 25px;
}

.join-us_cards {
  margin: 0 11px 0 0;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.join-us_cards:nth-child(3) {
  margin: 0;
}

.join-us_sign_image {
  width: 232px;
  padding: 71px 75px 0;
}

.join-us_shopping_image {
  width: 244.79px;
  padding: 61px 69px 0;
}

.join-us_export_image {
  padding: 69px 38px 0;
}

.join-us_sign_title {
  margin: 0;
  padding: 15px 46.5px 0;
}

.join-us_sign_description {
  margin: 0;
  padding: 25px 20px 71px;
  font-size: 16px;
  line-height: 20.8px;
  color: #000;
}

.join-us_shopping_title {
  margin: 0;
  padding: 15px 65px 0;
}

.join-us_shopping_description {
  width: 342px;
  margin: 0;
  padding: 15px 20px 61px;
  font-size: 16px;
  line-height: 20.8px;
  color: #000;
}

.join-us_export_title {
  margin: 0;
  padding: 34px 45.5px 0;
}

.join-us_export_description {
  max-width: 342px;
  margin: 0;
  padding: 15px 24px 60px;
  font-size: 16px;
  line-height: 20.8px;
  color: #000;
}

/* our service styles */

.our-service {
  display: flex;
  margin: 223px 99px 0;
}

.our-service_wrapper {
  max-width: 505px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 182px;
}

.our-service_title {
  margin: 0;
}

.our-service_subtitle {
  margin: 15px 0 15px;
}

.our-service_description {
  margin: 0;
}
