@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url(../pages/HomePage/HomePage.css);


/* reused styles */
.wrapper {
  width: 1429px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #141414;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 132px;
  height: 47px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffcc00;
  border-radius: 50px;
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FFE145, #FF8540);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #FFFFFF inset;
}

button:hover {
  box-shadow: none;
  color: #141414;
}

h1 {
  font-size: 35px;
  line-height: 42.67px;
  color: #141414;
}

h2 {
  font-size: 30px;
  line-height: 36.57px;
  color: #141414;
}

h4 {
  font-size: 20px;
  line-height: 24.38px;
  color: #141414;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 25.2px;
  color: #8F8E8E;
}
