@import url(../../index.css);

/* reused styles */

.wrapper {
  width: 1429px;
}

.about-works_title {
  margin: 0 0 25px;
  font-size: 25px;
  line-height: 32.5px;
  color: #000;
}

.about-works_subtitle {
  margin: 0 0 25px;
  font-size: 20px;
  line-height: 26px;
}

.about-works_description {
  margin: 0;
}

.main-background {
  position: absolute;
  top: 18px;
  z-index: 0;
}

/* main styles */

.main {
  position: relative;
  margin: 122px 230px 150px;
  z-index: 5;
}

.how-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px 0;
}

.how-works_title {
  margin: 0 0 25px;
}

.how-works_description {
  margin: 0 0 25px;
  text-align: center;
}

/* sing-up styles */

.sing-up_wrapper {
  display: flex;
  margin-top: 100px;
}

.sing-up {
  margin-left: 163px;
}

/* shop-in styles */

.shop-in_wrapper {
  display: flex;
  margin: 50px 0 0;
}

.shop-in {
  margin: 10px 117px 10px 0;
}

/* sending styles */

.sending-wrapper {
  display: flex;
  margin-top: 50px;
}

.sending {
  margin-left: 78px;
}

/* mobile view */

@media screen and (max-width: 768px) {
  .wrapper {
    width: auto;
  }

  .main-background {
    top: 32px;
    z-index: 0;
    width: 420px;
  }

  .main {
    margin: 20px 20px 70px;
  }

  .how-works {
    margin: 0;
  }

  .how-works_title {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 24px;
  }

  .how-works_description {
    margin: 0 0 20px;
    font-size: 9px;
    line-height: 12.6px;
  }

  .sing-up_wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    margin-top: 70px;
  }

  .sing-up {
    margin: 0;
  }

  .sing-up_image {
    position: absolute;
    width: 301px;
    margin: 0 20px 0;
    top: 86px;
  }

  .about-works_title {
    margin: 0 0 20px;
    font-size: 20px;
    line-height: 26px;
  }

  .about-works_subtitle {
    margin: 0;
    font-size: 16px;
    line-height: 20.8px;
  }

  .about-works_description {
    margin-top: 288px;
    font-size: 9px;
    line-height: 12.6px;
  }

  .shop-in_wrapper {
    position: relative;
    flex-flow: column;
  }

  .shop-in {
    margin: 0;
  }

  .shop-in_image {
    position: absolute;
    width: 305px;
    top: 112px;
    margin: 0 35px 0;
  }

  .sending-wrapper {
    position: relative;
    flex-flow: column;
  }

  .sending {
    margin: 0;
  }

  .sending-image {
    position: absolute;
    margin: 0 20px 0;
    top: 142px;
  }
}

