@import url(../../index.css);

/* reused styles */

.wrapper {
  width: 1429px;
}

.about-works_title {
  margin: 0 0 25px;
  font-size: 25px;
  line-height: 32.5px;
  color: #000;
}

.about-works_subtitle {
  margin: 0 0 25px;
  font-size: 20px;
  line-height: 26px;
}

.about-works_description {
  margin: 0;
}

.main-background {
  position: absolute;
  top: 18px;
  z-index: 0;
}

/* main styles */

.main {
  position: relative;
  margin: 122px 230px 150px;
  z-index: 5;
}

.how-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px 0;
}

.how-works_title {
  margin: 0 0 25px;
}

.how-works_description {
  margin: 0 0 25px;
  text-align: center;
}

/* sing-up styles */

.sing-up_wrapper {
  display: flex;
  margin-top: 100px;
}

.sing-up {
  margin-left: 163px;
}

/* shop-in styles */

.shop-in_wrapper {
  display: flex;
  margin: 50px 0 0;
}

.shop-in {
  margin: 10px 117px 10px 0;
}

/* sending styles */

.sending-wrapper {
  display: flex;
  margin-top: 50px;
}

.sending {
  margin-left: 78px;
}

/* footer styles */

.link-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 95px 142px 47px;
}

.also-title {
  margin: 0 0 10px;
}

.also-underline {
  width: 50px;
  height: 2px;
  margin: 0;
  background-color: #141414;
}

.social-media {
  display: flex;
  margin-top: 50px;
  padding-right: 20px;
}

.social-icon {
  margin-right: 20px;
}

.icon-instagram {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/instagram-icon.svg);
}

.icon-instagram:hover,
.icon-instagram:focus {
  filter: invert(56%) sepia(2%) saturate(3%) hue-rotate(320deg) brightness(100%) contrast(93%);
}

.icon-facebook {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/facebook-icon.svg);
}

.icon-facebook:hover,
.icon-facebook:focus {
  filter: invert(56%) sepia(2%) saturate(3%) hue-rotate(320deg) brightness(100%) contrast(93%);
}

.icon-tiktok {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/tiktok-icon.svg);
}

.icon-tiktok:hover,
.icon-tiktok:focus {
  filter: invert(56%) sepia(2%) saturate(3%) hue-rotate(320deg) brightness(100%) contrast(93%);
}

.social-icon:nth-last-child(1) {
  margin-right: 0;
}

.underline {
 margin: 0 69px 0;
}

.сonfidentiality {
  display: flex;
  justify-content: space-between;
  padding: 23px 69px 25px;
}
