@import url(../../index.css);
@import url(../AboutPage/HowItWork.css);

.wrapper {
  width: 1429px;
}

/* reused styles */


/* main styles */

.main {
  display: flex;
  margin: 171px 129px 149px 203px;
}

.faq-background {
  position: absolute;
  top: 10px;
  left: 214px;
}

.faq-wrapper {
  margin-right: 12px;
}

.faq-title {
  margin: 0 0 25px;
}

.faq-description {
  margin: 0;
}

.faq-image {
  width: 332px;
}

/* something style */

.something {
  margin-top: 51px;
}

.first-title {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  border-bottom: 1px solid #D6D6D6;
}

.first-title:nth-last-child(5) {
  margin-top: 0;
}

.something-title {
  margin: 0 0 12px;
  font-size: 16px;
  line-height: 22.4px;
}

.something-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
