/* header styles */
.header {
  display: flex;
  justify-content: space-between;
  padding: 33px 134px 32px 131px;
}

.logo-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-menu__item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
}

.nav-menu__item>li {
  padding: 0 40px 0 0;
}

.nav-menu__item>li:last-child {
  padding: 0;
}

.dropdown {
  position: relative;
}

.dropdown-list {
  position: absolute;
  min-width: 200px;
  opacity: 0;
  padding: 10px 15px 15px 15px;
  background-color: #FFFFFF;
}

.dropdown:hover .dropdown-list {
  opacity: 1;
  transition: 0.5s ease-in;
}

.dropdown-icon {
  padding: 1px;
}

.dropdown:hover .dropdown-icon {
  transform: rotate(-90deg);
  transition: 0.5s ease-in;
}

.nav-menu__btn {
  width: 116px;
  height: 48px;
  margin-right: 40px;
}

/* delivery styles */

.main {
  margin: 154px 129px 0 132px;
}

.delivery {
  display: flex;
  width: 1197.67px;
  margin: 0 0 0 71px;
}

.delivery-title {
  width: 624px;
  margin: 0px;
  margin: 12px 0 25px 0;
}

.yellow-text {
  color: #FFE145;
}

.delivery-description {
  width: 464px;
  margin: 0;
  margin-bottom: 25px;
}

.delivery-button {
  margin-bottom: 12px;
}

.delivery-image {
  width: 551px;
  height: 297px;
}

/* payment styles */

.payment {
  display: flex;
  width: 1097px;
  margin: 200px 0 0 71px;
}

.payment-image {
  width: 469px;
  height: 300px;
}

.payment-wrapper {
  width: 505px;
  margin: 0 0 0 122px;
}

.payment-title {
  margin: 0 2px 25px 0;
  font-size: 25px;
  line-height: 30px;
  color: #141414;
}

.payment-subtitle {
  margin: 0 0 25px 0;
}

.payment-description {
  margin: 0 0 25px 0;
}

/* join us styles */

.join-us {
  margin-top: 150px;
  text-align: center;
}

.join-us_title {
  margin: 0 0 25px 0;
}

.join-us_cards_wrapper {
  display: flex;
  width: 1146px;
}

.join-us_cards {
  width: 382px;
  margin: 0 11px 0 0;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
